.container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  width: 26.25rem; /* 420px */
  height: 11.4375rem; /* 183px */
  gap: 1rem; /* 16px */
}

.list_container {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem; /* 8px */
}