.Wrapper {
  position: fixed;

  display: flex;
  width: 100%; /* 너비를 100%로 설정 */
  max-width: 21.4375rem; /* 최대 너비를 21.4375rem로 설정 */
  /* height:4.875rem; */
  padding: 0rem 1rem 1rem 1rem;
  justify-content: center;
  align-items: flex-start;
  /* gap: 6.8125rem; */
  flex-shrink: 0;
  background: var(--main-color, #38ACFF);
  margin: 3.5rem auto 0;
  /* margin-left: -0.4rem ; */
 
}
.SearchContainer {
  width: 100%;
  display: flex;
  align-items: center;
  width: 21.4375rem;
  /* 343px */
  height: 2.875rem;
  /* 46px */
  
  justify-content: center;
  margin: auto 0;
  flex-shrink: 0;
  border-radius: 1.25rem;
  /* 20px */
  
  position: relative;
  /* 아이콘의 위치 조정을 위해 position 설정 */

}

.SearchBar::placeholder {
  color: var(--text-light, #C0C0C0);
}

.SearchBar:focus {
  border-color: var(--main-color, #38ACFF);
  outline: none;
}

.SearchBar {
  flex: 1;
  /* 남은 공간을 모두 차지하도록 설정 */
  height: 100%;
  padding: 0 1.25rem;
  /* 20px */
  /* 좌우 padding을 추가하여 텍스트와 경계 사이에 여백을 만듦 */
  border: none;
  outline: none;
  /* 기본 포커스 스타일 제거 */
  border-radius: 1.25rem;
  background: var(--white, #FFFFFF);

  /* Body2 스타일 */
  font-size: 1rem;
  /* 16px */
  font-weight: 500;
  line-height: 1.6rem;
  /* 25.6px */
  letter-spacing: 0;
}

.icon {
  flex-shrink: 0;
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  /* SearchContainer를 기준으로 위치 조정 */
  right: 1rem;
  /* 오른쪽 여백 추가 */
}

.icon:hover {
  cursor: pointer;
}