@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'Pretendard-Regular';
}

/* css variable */
:root {
  --bg-color: #FFFFFF;
  --bg-normal: #EBF7FF;
  --main-color: #38ACFF;
  --text-light: #C0C0C0;
  --text-normal: #848484;
  --text-deep : #363636;
  
}

body {
  background-color: var(--bg-color);
}

/* font-style 지정 */

.title1 {
  font-size: 1.25rem; /* 20px */;
  font-weight: 600;
  /* Semibold에 해당하는 숫자 값 */
  line-height: 1.75rem; /* 28px */
  letter-spacing: 0;
}

/* subtitle */
.subtitle1 {
  font-size: 1.25rem; /* 20px */
  font-weight: 600;
  line-height: 1.75rem; /* 28px */
  letter-spacing: 0;
}


.subtitle2 {
  font-size: 1.125rem; /* 18px */
  font-weight: 600;
  line-height: 1.575rem; /* 25.2px */
  letter-spacing: 0;
}



.subtitle3 {
  font-size: 1.125rem; /* 18px */
  font-weight: 500;
  /* Medium에 해당하는 숫자 값 */
  line-height: 1.575rem; /* 25.2px */
  letter-spacing: 0;
}

.subtitle4 {
  font-size: 1rem; /* 16px */
  font-weight: 600;
  line-height: 1.4rem; /* 22.4px */
  letter-spacing: 0;
}

/* Body */
.Body1 {
  font-size: 1rem; /* 16px */
  font-weight: 600;
  line-height: 1.6rem; /* 25.6px */
  letter-spacing: 0;
}

.Body2 {
  font-size: 1rem; /* 16px */
  font-weight: 500;
  line-height: 1.6rem; /* 25.6px */
  letter-spacing: 0;
}

.Body3 {
  font-size: 0.875rem; /* 14px */
  font-weight: 600;
  line-height: 1.4rem; /* 22.4px */
  letter-spacing: 0;
}

.Body4 {
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  line-height: 1.4rem; /* 22.4px */
  letter-spacing: 0;
  font-style: normal;
}

.Boby5 {
  font-size: 0.875rem; /* 14px */
  font-weight: 400;
  /* Regular에 해당하는 숫자 값 */
  line-height: 1.4rem; /* 22.4px */
  letter-spacing: 0;
}



/* Caption */
.Caption1 {
  font-size: 0.75rem; /* 12px */
  font-weight: 500;
  line-height: 1.2rem; /* 19.2px */
  letter-spacing: 0;
  font-style: normal;
}

.Caption2 {
  font-size: 0.75rem; /* 12px */
  font-weight: 400;
  line-height: 1.2rem; /* 19.2px */
  letter-spacing: 0;
}

