@font-face {
    font-family : "Jalnan 2";
    src: url(../font/Jalnan2TTF.ttf);
}
@font-face {
    font-family : 'Pretendard';
    src: url(../font/PretendardVariable.ttf);
}

:root{
    --white : #FFF;
    --black : #000;
    --text_deep : #363636;
}

.sublayout {
    width: 13.6875rem;
    height: 39.4375rem;
    flex-shrink: 0;

    /* background: var(--white); */
    background: rgb(59, 191, 243);

    margin-top: 2.25rem;
    margin-right: 9.75rem;

    overflow: hidden;
}

.identity {
    color: var(--text_deep);
    /* subtitle/subtitle4 SB16 */
    font-family: 'Pretendard';
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 1.4rem */
    text-align: left;

    margin: 2.06rem 2.31rem 0rem 1rem;
}

.divide {
    width: 11.6875rem;
    height: 0.125rem;
    flex-shrink: 0;

    background: #D9D9D9;

    margin: 0.25rem 1rem 0rem 1rem;
}

.submenu {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;

    margin: 1.25rem 5.19rem 0rem 1rem;
}

.menulist {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.menutext {
    color: var(--text_deep);
    /* body/body4 M14 */
    font-family: 'Pretendard';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 1.225rem */
}

.menuicon {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.3125rem;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 0.875rem;
    height: 0.875rem;
    flex-shrink: 0;
}