@font-face {
    font-family : "Jalnan 2";
    src: url(../assets/font/Jalnan2TTF.ttf);
}
@font-face {
    font-family : 'Pretendard';
    src: url(../assets/font/PretendardVariable.ttf);
}

:root{
    --white : #FFF;
    --black : #000;
    --text_normal : #848484;
}

.exit {
    display: flex;
    height: 3.5rem;
    padding: 1rem 1rem 1rem 20.9375rem;
    /* justify-content: flex-end; */
    align-items: center;
    flex-shrink: 0;

    background: var(--white);
}

.exitButton {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.exitButton:hover {
    cursor: pointer;
}

.titleBase {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    margin : 3.69rem 7.44rem 0rem 7.5rem;
}
.subTitle {
    color: var(--text_normal);
    font-family: "Jalnan 2";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.00075rem;
}
.mainTitle {
    width: 8.0625rem;
    height: 11rem;
}

.buttonBase {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;

    margin: 8.25rem 1rem 0rem 1rem;
}

.desc {
    color: var(--black);

    text-align: center;
    /* subtitle/subtitle3 M18 */
    font-family: 'Pretendard';
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 1.575rem */

    width: 13.25rem;
    height: 3.125rem;
}
.kakaoButton {
    display: flex;
    padding: 1rem 4.4375rem;
    justify-content: center;
    align-items: center;

    border-radius: 0.5rem;
    background: #FAE100;

    padding: 1rem 4.34rem;
}
.buttonContent {
    display: flex;
    align-items: flex-start;
    gap: 0.375rem;
}
.kakaoImage {
    width: 1.5rem;
    height: 1.5rem;
}
.buttonText {
    color: #1E1E1E;

    font-family:'Pretendard';
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 1.5rem */
}